
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Library </h1>
    <ul>
        <li class="navLink"><a href="/books">Home</a></li>
        <li class="navLink"><a href="/book/new">New</a></li>
    </ul>

</head>
    <title>Library</title>
        <body>
            
            <hr>
            {% block content %}{% endblock %}
        </body>


<footer>
<hr>    
    CodeClan Library
</footer>
</html>