{% extends "base.html" %}

{% block content %}

<body>
    <nav>
      <ul>
        <li clas="navLink"><a href="/books">Home</a></li>
      </ul>
    </nav>
    <hr>
    <h1>All Books!</h1>
  
    <div class="book-container">
      {% for book in books %}
      <div class="book">
        <b>{{ book.title }}</b>, <i>{{ book.author }}</i>, {{book.genre}}
        <a href="/books/{{books.index(book)}}">Show Book</a>
    
        

      </div>
    {% endfor %}


    </div>
  </body>

  {% endblock %}
