{% extends "base.html" %}

{% block content %}

<body>
    <nav>
      <ul>
        <li clas="navLink"><a href="/orders">Home</a></li>
      </ul>
    </nav>
    <hr>
    <h1>All Books!</h1>
  
    <div class="book-container">
      {% for order in orders %}
      <div class="book">
        <h2>{{ order.title }}</h2>
        <h3>{{ order.author }}</h3>
        <h3>{{ order.genre }}</h3>
        <a href="/orders/{{orders.index(order)}}">Show Book</a>
    
        <form class="form-inline" action="/orders/delete/{{ order.title }}" method="POST">
            <input type="submit" value="Delete">
          </form>

      </div>
    {% endfor %}


    </div>
  </body>

  {% endblock %}
