<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Library </h1>
    

</head>
    <title>Library</title>


<body>
    <nav>
      <ul>
        <li clas="navLink"><a href="/orders">Home</a></li>
      </ul>
    </nav>
    <hr>
    <h1>All Books!</h1>
  
    <div class="book-container">
      {% for order in orders %}
      <div class="book">
        <h2>{{ order.title }}</h2>
        <h3>{{ order.author }}</h3>
        <h3>{{ order.genre }}</h3>
        <a href="/orders/{{orders.index(order)}}">Show Book</a>
      </div>
      {% endfor %}
    </div>
  </body>

  <footer>CodeClan Library</footer>
</html>
